body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 5 00;
  background-color:  #1f2020;;
}
* {
  margin: 0;
  padding: 0;
}
.header {
  height: 100px;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-header {
  font-size: 19px;
  color: white;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  font-size: 19px;
  cursor: pointer;
}

li a {
  color: white;
  text-decoration: none;
}

li:hover a {
  color: lightblue;
}

/* Hero image */
.hero {
  height: 80.1vh;
  background-color: #1f2020;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.profile-image {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 180px;
}

.profile-image img {
  width: 20%;
  height: 100%;
  object-fit: auto;
  border-radius: 360px;
}

.informations {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  text-align: center;
}
#info-1 {
  font-size: 62px;
  color: white;
}

#info-2 {
  font-size: 18px;
  margin-top: 35px;
  color: #c0c0c0;
}

.explore-btn {
  margin-top: 40px;
}

#button-1 {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
  cursor: pointer;
  border: 2px solid white;
  background-color: white;
}
#button-1:hover{
  background-color: lightblue;
  color: black;
  border: 2px solid lightblue;
} 

/* Education*/
.education-container{
  margin-top: 100px;
  margin-bottom: 100px;
}
.education-container>h2{
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 200;
}
/* plhrofories */
.education-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  line-height: 0.5;
  color: white;
  text-align: center;
  margin-top: 80px;
}
.education-info img{
  width: 200px;
  border-radius: 20px;
}
.education-info>p{
  margin-left: 50px;
}


/* Skills*/
.skills-container{
  align-items: center;
  justify-content: center;
}
.skills-container>h2{
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 200;
}

.skills-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 70px;
}

#skills{
  align-items: center;
  justify-self: center;
  margin-bottom: 40px;
}

.skills-image{
  width: 400px;
  height: 300px;
  object-fit: auto;
  border-radius: 12px;

}

.skills-image:hover{
  box-shadow: 0px 0px 12px blue !important;
}

.skills-par{
  text-align: center;
  color: white;
  font-size: 26px;
  margin-top: 10px;
  margin-left: 20px;
}

/* Footer */
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  height: 250px;
  background-color: #2d2d2d;
  margin-top: 80px;
  border-radius: 15px 15px 0px 0px;
}

.footer-container{
  width: 30;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.footer-container>h5{
  font-weight: 300;
  font-size: 17px
}

.footer-container a{
  font-size: 13px;
  color: #c0c0c0;
  text-decoration: none;
}

.footer-container a:hover{
  color: white;
}