body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color:  #1f2020 !important;
}
* {
  margin: 0;
  padding: 0;
}
.header {
  height: 100px;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-header {
  font-size: 19px;
  color: white;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  font-size: 19px;
  cursor: pointer;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

li:hover a {
  color: lightblue;
}

/* Hero image */
.hero {
  height: 80.1vh;
  background-color: #1f2020;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.profile-image {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-image img {
  width: 20%;
  height: 100%;
  object-fit: auto;
  border-radius: 360px;
}

.informations {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  text-align: center;
}
#info-1 {
  font-size: 38px;
  font-weight: 400;
  word-spacing: 12px;
  text-shadow: 0px 0px 12px lightsteelblue;
  color: white;
}

#info-2 {
  font-size: 18px;
  margin-top: 35px;
  color: #c0c0c0;
}

.explore-btn {
  margin-top: 40px;
}

#button-1 {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 12px;
  background-color: white;
}
#button-1:hover{
  background-color: lightblue;
  color: black;
  border: 2px solid lightblue;
} 



/* Activities */
.activites-container{
  height: 80vh;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 180px;
}
.box-activities{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.image-activity{
  width: 30%;
}
.image-activity img{
  height: 730px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.activities{
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border-radius: 12px;
  margin-left: 20px;
  justify-content: space-around;
}
.activity{
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding: 20px 50px
}
.activity>p{
  color: #333;
  margin-left: 8px;
  text-align: left;
}


/* Footer */
.footer{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: #2d2d2d;
  margin-top: 80px;
  border-radius: 15px 15px 0px 0px;
}

.footer-container{
  text-align: left;
  color: white;
  margin-top: 50px;
}

.footer-container>h5{
  font-weight: 300;
  font-size: 17px
}

.footer-container a{
  font-size: 13px;
  color: #c0c0c0;
  text-decoration: none;
}

.footer-container a:hover{
  color: white;
}